{% extends 'base.html' %}
{% block content %}
<div class="notification is-success is-light">
<h4>
        Trabalho desenvolvido para a disciplina de Analise de vulnerabilidades!<br>
    Este é uma web app que contem vulnerabilidades como:
    <ul>
        <li>sql injection</li>
        <li>xss reflected</li>
        <li>xss stored</li>
      </ul> 
      Em cada uma destas situações existe uma barra de pesquisa vulneravel e outra protejida na<br>
      navbar acima podemos encontar a aba das soluções onde nesta se encontra a maneira para explorar cada vulnerabilidade.
</h4> 
</div>
{% endblock %}
